@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Inria+Serif&display=swap');

:root{
    --quase-preto: #0d0b2c;
    --chumbo: #494951;
    --fundo: #040821;
    --rosa: #cb51f9;
}

*{
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    border: 0;
}

.active, .active a{
    background: white;
    color: black;  
    padding: 5px;
}

body{
    background-color: var(--quase-preto);
}

.principal{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Inria Sans', 'sans-serif';
    color: white;
}

.capa{
    width: 1440px;
    height: 210px;
    background: url(imagens/Capa.png)  var(--chumbo);
}

.corpo{
    width: 1200px;
    margin:auto;
    height: 538px;
}

.container, .container address{
    margin-top: 1rem;
    text-align: justify;
}

.menu{
    align-items: center;
    display: flex;
    height: 62px;
    justify-content: space-evenly;
    background: var(--fundo);
}

.menu a:not(.active){
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color:#040821;
    background: white;
    padding: 5px;
}

.imagem{
    position: relative;
    left: 99px;
    top: 125px;
    bottom: 330px;
    right: 1048px;
    float: left;
}

.sobre-if{
    margin-top: 1rem;
}

.texto{
    float: left;
    position: relative;
    left: 355px;
    top: 125px;
    right: 243px;
}

.texto h1, #hobbies h1{

font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 50px;
text-align: center;

}

.texto{
    font-family:'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 36px;
}

.texto ol li a, .texto ul li a{
    text-decoration: underline;
    color: white;
}

.texto ol li a:hover, .texto ul li a:hover{
    color: var(--rosa);
}


#hobbies{
    margin-top: 20px;
}

.flutuar{
    display: inline-block;
    margin-top: 30px;
    padding: 10px;

}


.flutuar div{
    text-align: center;
}


footer{
    text-align: center;
}

#tabela{
    font-size: 16px;
    width: 700px;
    /*border: 1px solid white;*/
    position: relative;
    right: 100px;
    bottom: 40px;
}

#titulo-horario{
    position: relative;
    right: 100px;
    bottom: 40px;
}

tr th,tr td{
    border: 1px solid white;
    padding: 5px;
}

